div {
    height: 200px;
    max-width: 500px;
    background-color: grey;
    border: 1px solid lightblue;
    margin: 5px auto;
}

div.feedback, div.results {
    height: 400px;
    max-width: 800px;
    text-align: center;
}

img {
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: 75%
}

header, main, footer {
    margin: 5px auto;
    background-color: lightgrey;
    height: auto;    
    
}

main {
    min-height: 500px;    
    
}

header, footer {
    display: flex;
    flex-direction: row;
}

button {
    border-radius: 18px;
    box-shadow: black 3px 3px 3px;
}

form {
    display: flex;
    flex-direction: column;
}

#check, #next, #start { 
  height: 50%;
  width: 50%;
  background-color: rgb(50, 61, 211);
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 10px;
}

#close {
  height: 10%;
  width: 10%;
  background-color: rgb(50, 61, 211);
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 10px;
}

#reset { 
  height: auto;
  width: 35%;
  background-color: rgb(211, 82, 50);
  color: white;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  margin: 10px auto;
}

#next:disabled, #check:disabled{
    background-color: rgba(0,0,0,0.4);
    color: darkgray;
    cursor: default;
}

.logo, .counter, .correct-counter{
    margin: auto auto;
    height: 100px;
    width: 100px;
}

.question, .answers, .start-page{
    text-align: center;
    
}

.progress-bar, .credits {
    max-width: 200px;
    max-height: 50px;
    margin: auto auto;
    text-align: center;
}

.hide{
    display: none;
}